name: build
on: [push, pull_request]
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true
    - uses: actions/setup-java@v1
      with:
        java-version: 13
    - name: Install Carrot2
      run: |
        cd /tmp
        wget -q https://github.com/carrot2/carrot2/releases/download/release%2F$CARROT2_VERSION/carrot2-$CARROT2_VERSION.zip
        unzip -q carrot2-$CARROT2_VERSION.zip
        cd carrot2-$CARROT2_VERSION/dcs
        ./dcs.sh &
        for i in {1..12}; do wget -O- -v http://127.0.0.1:8080/ && break || sleep 5; done
      env:
        CARROT2_VERSION: 4.0.4
    - run: bundle exec rake test
